*{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.white{
    background-color: white;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}
